!!!
%html
  %head
    = partial :head
    %script{ :src => "/script/lib/zepto.min.js", :type => "text/javascript" }
    %script{ :src => "/script/drag-drop.js", :type => "text/javascript" }
  %body#categorize
    %h1 Categorize the Articles
    %hr
    #sort
      #sidebar
        .category
          .counter 1
          %h2 For My Side
          %span.description 
            = side_a['description']
          %div.sortable-set{:ondragover => "dragover_handler(event)", :ondrop => "drop_handler(event)"}
            - side_a['articles'].each do |article|
              %div.sortable{:draggable => "true", :ondragstart => "dragstart_handler(event)"}
                %img{:src => "style/images/article.png"}
                %span.big 
                  = article['title']
                = article['description']

        .category
          .counter 
          %h2 Against My Side
          %span.description 
            = side_b['description']
            %div.sortable-set{:ondragover => "dragover_handler(event)", :ondrop => "drop_handler(event)"}
              - side_b['articles'].each do |article|
                %div.sortable{:draggable => "true", :ondragstart => "dragstart_handler(event)"}
                  %img{:src => "style/images/article.png"}
                  %span.big 
                    = article['title']
                  = article['description']

      #content
        %div.sortable-set{:ondragover => "dragover_handler(event)", :ondrop => "drop_handler(event)"}
          - unsorted.each do |article|
            %div.sortable{:draggable => "true", :ondragstart => "dragstart_handler(event)"}
              %img{:src => "style/images/article.png"}
              %span.big 
                = article['title']
              = article['description']
